textarea {
	width: 200px;
	height: 180px;
}

@media all and (min-width : 768px){
  textarea {
  	width: 450px;
  	height: 180px;
  }
}

@media all and (min-width : 1024px){
  textarea {
  	width: 600px;
  	height: 180px;
  }
}