body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
}

td a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF3300;
	line-height: 20px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

#footerhome{
	background-image:url(../images/zicc_home_r7_c3.jpg);
	background-repeat: no-repeat;
	height: 114px;
	width: 860px;
}


#footerorg {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#footerorg a{
	color:#FF3300;
	text-decoration: none;
}


#footerorg a:hover{
color:#0066CC;
}

#footergrey {
	color:#CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#footergrey a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
	text-decoration: underline;
}


#footergrey a:hover{
color:#0066CC;
}

#wrapper{
display:block;
background-color: #FFFFFF;
width:944px;
	 margin: 0px auto;
 -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
  filter:progid:DXImageTransform.Microsoft.glow(Strength=5, Color='gray');
  -ms-filter:"progid:DXImageTransform.Microsoft.glow(Strength=3, Color='gray')";

}
h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #FF6600;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #009900;
}

#org {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #009900;
	font-weight: bold;
	line-height: 20px;
}